#dropdownEstado{
  left: 29rem;
}

#dropdownCidade{
  left: 35.9rem;
}

#dropdownBairro{
  left: 47rem;
}

.slider-orange::-webkit-slider-thumb {
  background-color: #f59e0b; /* Orange color */
}

.slider-orange::-moz-range-thumb {
  background-color: #f59e0b; /* Orange color */
}

.slider-orange::-ms-thumb {
  background-color: #f59e0b; /* Orange color */
}
