<div class="flex flex-col gap-28">

  <div class="flex items-center justify-between space-x-2 flex-start pt-10 px-32">
    <h1 class="flex items-center gap-5 text-rentazul">
      <h1 class="text-5xl font-bold">Olá, &nbsp;{{ anfitriaoHeader.nome }} 👋</h1>
    </h1>
    <img src="https://i.imgur.com/brCEmd5.png" alt="Logo Renttavel" class="w-72 h-16">
  </div>

  <div class="flex justify-center items-center">
    <div class="grid grid-cols-4 gap-x-7 gap-y-7 text-rentazul text-xl">
      <div class="flex flex-col gap-5 w-64 h-36 rounded-xl shadow-lg p-5 bg-rentlaranja text-rentbranco">
        <h2 class="font-bold">Anual (2024)</h2>
        <p class="text-5xl font-bold w-full">{{formatarRendimentoAnual()}}</p>
      </div>
      <div class="flex flex-col gap-5 border w-64 h-36 rounded-xl shadow-lg p-5 bg-rentbranco">
        <h2 class="font-bold">Mensal (Jul/2024)</h2>
        <p class="text-5xl font-bold w-full">{{formatarRendimentoMensal()}}</p>
      </div>
      <div class="flex flex-col gap-5 border w-64 h-36 rounded-xl shadow-lg p-5 bg-rentbranco">
        <h2 class="font-bold">Imóveis ocupados</h2>
        <p class="text-5xl font-bold w-full">{{ taxaOcupacao | number:'1.1-1' }}%</p>
      </div>
      <div class="flex flex-col justify-between row-span-3 border gap-5 w-64 h-full rounded-xl shadow-lg p-5">
        <h2 class="font-bold">Próximos aluguéis</h2>
        <div class="flex flex-col gap-5 h-4/6">
          <div class="flex flex-col gap-3" *ngFor="let a of proximosAlugueis">
            <div class="flex justify-between text-base px-3">
              <p class="truncate w-2/3">{{ a.imovel.nome }}</p>
              <p class="font-bold">{{ a.dataCheckin | date: "dd/MM" }}</p>
            </div>
            <div class="bg-rentcinza h-px w-full"></div>
          </div>
        </div>
        <div>
          <button (click)="verAlugueis()" class="bg-rentlaranja text-white font-bold w-full h-14 rounded-xl shadow-md easy-in-out duration-100 hover:scale-105 hover:shadow-lg">
            Ver aluguéis
          </button>
        </div>
      </div>
      <div class="flex flex-col col-span-3 row-span-2 gap-5 border rounded-xl shadow-lg p-5">
        <h2 class="font-bold text-2xl">Desempenho 2024 - Imóveis (R$)</h2>
        <div class="m-3">
          <p-chart type="bar" [data]="dadosGraficoBarra" height="17rem"/>
        </div>
      </div>
    </div>
  </div>
</div>
