<!-- <pre>{{aluguel|json}}</pre> -->
<div class="flex flex-col gap-11">

  <div class="flex items-center justify-between space-x-2 flex-start pt-10 px-32">
    <h1 class="flex items-center gap-5 text-rentazul">
      <b><span class="text-5xl">Aluguéis</span></b>
      <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/021e43/forward--v1.png" alt="forward--v1"/>
      <span class="text-4xl">Cadastro</span>
    </h1>
    <img src="https://i.imgur.com/brCEmd5.png" alt="Logo Renttavel" class="w-72 h-16">
  </div>

  <form (ngSubmit)="salvar()" #form="ngForm">
    <div class="flex items-center justify-center">
      <div class="bg-rentbranco flex flex-col border border-rentcinza w-5/12 rounded-3xl shadow-lg">
        <div class="flex flex-col px-10 py-5 gap-10">
          <div class="flex flex-col gap-y-3 text-rentazul">
            <div class="flex flex-col gap-y-8">
              <div class="grid grid-cols-3 gap-x-5 gap-y-5 text-rentazul text-xl">
                <div class="flex flex-col gap-y-2">
                  <label class="truncate" for="dataCheckin"><b>Check-in</b></label>
                  <input [(ngModel)]="aluguel.dataCheckin" name="dataCheckin" class="form-control border border-rentcinza rounded-xl py-3 text-center text-sm focus:outline-none focus:border-rentazul focus:ring-2 focus:ring-rentazul focus:shadow-lg" type="datetime-local" required
                  [ngClass]="{
                    'border-red-500 ring-2 ring-red-500 ring-inset': form.submitted && !aluguel.dataCheckin
                  }">
                  <div *ngIf="form.submitted && !aluguel.dataCheckin"  class="text-red-600 text-sm">Campo obrigatório.</div>

                </div>
                <div class="flex flex-col gap-y-2">
                  <label class="truncate" for="dataCheckoutPrevisto"><b>Checkout Previsto</b></label>
                  <input [(ngModel)]="aluguel.dataCheckoutPrevisto" name="dataCheckoutPrevisto" class="form-control border border-rentcinza rounded-xl py-3 text-center text-sm focus:outline-none focus:border-rentazul focus:ring-2 focus:ring-rentazul focus:shadow-lg" type="datetime-local" required
                  [ngClass]="{
                    'border-red-500 ring-2 ring-red-500 ring-inset': form.submitted && !aluguel.dataCheckoutPrevisto
                  }">
                  <div *ngIf="form.submitted && !aluguel.dataCheckoutPrevisto"  class="text-red-600 text-sm">Campo obrigatório.</div>
                </div>
                <div class="flex flex-col gap-y-2">
                  <label class="truncate" for="dataCheckoutEfetivo"><b>Checkout Efetivo</b></label>
                  <input [(ngModel)]="aluguel.dataCheckoutEfetivo" name="dataCheckoutEfetivo" class="form-control border border-rentcinza rounded-xl py-3 text-center text-sm focus:outline-none focus:border-rentazul focus:ring-2 focus:ring-rentazul focus:shadow-lg" type="datetime-local" required>
                </div>
              </div>
              <div class="grid grid-cols-3 gap-x-5 gap-y-5 text-rentazul text-xl">
                <div class="flex flex-col gap-y-2">
                  <label class="truncate" for="valorDiaria"><b>Diária</b></label>
                  <input [(ngModel)]="aluguel.valorDiaria" name="valorDiaria" class="form-control border border-rentcinza rounded-xl py-3 text-center text-base focus:outline-none focus:border-rentazul focus:ring-2 focus:ring-rentazul focus:shadow-lg" type="number" step="0.01" placeholder="R$ 0,00" required (blur)="calcularValorTotal()"
                  [ngClass]="{
                    'border-red-500 ring-2 ring-red-500 ring-inset': form.submitted && !aluguel.valorDiaria
                  }">
                  <div *ngIf="form.submitted && !aluguel.valorDiaria"  class="text-red-600 text-sm">Campo obrigatório.</div>
                </div>
                <div class="flex flex-col gap-y-2">
                  <label class="truncate" for="valorLimpeza"><b>Limpeza</b></label>
                  <input [(ngModel)]="aluguel.valorLimpeza" name="valorLimpeza" class="form-control border border-rentcinza rounded-xl py-3 text-center text-base focus:outline-none focus:border-rentazul focus:ring-2 focus:ring-rentazul focus:shadow-lg" type="number" step="0.01" placeholder="R$ 0,00" required (blur)="calcularValorTotal()"
                  [ngClass]="{
                    'border-red-500 ring-2 ring-red-500 ring-inset': form.submitted && !aluguel.valorLimpeza
                  }">
                  <div *ngIf="form.submitted && !aluguel.valorLimpeza"  class="text-red-600 text-sm">Campo obrigatório.</div>
                </div>
                <div class="flex flex-col gap-y-2">
                  <label class="truncate" for="valorMulta"><b>Multa</b></label>
                  <input [(ngModel)]="aluguel.valorMulta" name="valorMulta" class="form-control border border-rentcinza rounded-xl py-3 text-center text-base focus:outline-none focus:border-rentazul focus:ring-2 focus:ring-rentazul focus:shadow-lg" type="number" step="0.01" placeholder="R$ 0,00" required (blur)="calcularValorTotal()"
                  [ngClass]="{
                    'border-red-500 ring-2 ring-red-500 ring-inset': form.submitted && !aluguel.valorMulta
                  }">
                  <div *ngIf="form.submitted && !aluguel.valorMulta"  class="text-red-600 text-sm">Campo obrigatório.</div>
                </div>
              </div>
              <div class="grid grid-cols-2 gap-x-5 gap-y-5 text-rentazul text-xl">
                <div class="flex flex-col gap-y-2">
                  <label class="truncate" for="qtdDias"><b>Quantidade de Dias</b></label>
                  <input [(ngModel)]="aluguel.qtdDias" name="qtdDias" class="form-control border border-rentcinza rounded-xl py-3 text-center text-base focus:outline-none focus:border-rentazul focus:ring-2 focus:ring-rentazul focus:shadow-lg" type="number" required (blur)="calcularValorTotal()"
                  [ngClass]="{
                    'border-red-500 ring-2 ring-red-500 ring-inset': form.submitted && !aluguel.qtdDias
                  }">
                  <div *ngIf="form.submitted && !aluguel.qtdDias"  class="text-red-600 text-sm">Campo obrigatório.</div>
                </div>
                <div class="flex flex-col gap-y-2">
                  <label class="truncate" for="valorTotal"><b>Valor Total</b></label>
                  <input name="valorTotal" class="form-control border border-rentcinza rounded-xl py-3 text-center text-base focus:outline-none focus:border-rentazul focus:ring-2 focus:ring-rentazul focus:shadow-lg" type="number" required value="{{(aluguel.valorDiaria * aluguel.qtdDias) + aluguel.valorLimpeza + aluguel.valorMulta}}" disabled>
                </div>
              </div>
              <div class="grid grid-cols-2 gap-x-5 gap-y-5 text-rentazul text-xl">
                <div class="flex flex-col gap-y-2">
                  <label class="truncate" for="imovel"><b>Imóvel</b></label>
                  <select [(ngModel)]="aluguel.imovel" name="imovel" class="form-control border border-rentcinza rounded-xl py-3 text-center text-base focus:outline-none focus:border-rentazul focus:ring-2 focus:ring-rentazul focus:shadow-lg" required
                  [ngClass]="{
                    'border-red-500 ring-2 ring-red-500 ring-inset': form.submitted && !aluguel.imovel
                  }">
                    <option *ngFor="let imovel of imoveis" [ngValue]="imovel">{{ imovel.nome }}</option>
                  </select>
                  <div *ngIf="form.submitted && !aluguel.imovel"  class="text-red-600 text-sm">Campo obrigatório.</div>
                </div>
                <div class="flex flex-col gap-y-2">
                  <label class="truncate" for="inquilino"><b>Inquilino</b></label>
                  <select [compareWith]="compareById" [(ngModel)]="aluguel.inquilino" name="inquilino" class="form-control border border-rentcinza rounded-xl py-3 text-center text-base focus:outline-none focus:border-rentazul focus:ring-2 focus:ring-rentazul focus:shadow-lg" required
                  [ngClass]="{
                    'border-red-500 ring-2 ring-red-500 ring-inset': form.submitted && !aluguel.inquilino
                  }">
                    @for(inq of inquilinos; track inq.id){
                      <option [ngValue]="inq">{{ inq.nome }}</option>
                    }
                  </select>
                  <div *ngIf="form.submitted && !aluguel.inquilino"  class="text-red-600 text-sm">Campo obrigatório.</div>

                </div>
              </div>
            </div>
            <div class="flex justify-between">
              <button class="flex items-center gap-2 border-2 border-rentlaranja text-lg py-3 mt-10 px-4 rounded-xl text-rentlaranja font-semibold shadow-md hover:ring-2 hover:ring-rentlaranja hover:shadow-lg" (click)="voltar()">
                <img width="25" height="25" src="https://img.icons8.com/fluency-systems-filled/25/ff914d/long-arrow-left.png" alt="long-arrow-left"/>
                <span class="text-xl font-bold">Voltar</span>
              </button>
              <button class="form-button flex items-center gap-3 bg-rentlaranja text-lg py-3 mt-10 px-8 rounded-xl text-rentbranco font-semibold shadow-md hover:ring-2 hover:ring-rentlaranja hover:shadow-lg" type="submit">
                <span class="text-xl font-bold">Salvar</span>
                <img width="25" height="25" src="https://img.icons8.com/ios-glyphs/25/FFFFFF/checkmark--v1.png" alt="checkmark--v1"/>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>
