<div class="flex flex-col gap-9">
  <div class="flex items-center justify-between space-x-2 flex-start pt-10 px-32">
    <h1 class="flex items-center gap-5 text-rentazul">
      <b><span class="text-5xl">Inquilinos</span></b>
      <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/021e43/forward--v1.png" alt="forward--v1"/>
      <span class="text-4xl" *ngIf="idInquilino == null">Cadastro</span>
      <span class="text-4xl" *ngIf="idInquilino > 0">Edição</span>
    </h1>
    <img src="https://i.imgur.com/brCEmd5.png" alt="Logo Renttavel" class="w-72 h-16">
  </div>

  <form (ngSubmit)="salvar()" #form="ngForm">
    <div class="flex items-center justify-center">
      <div class="bg-rentbranco flex flex-col px-10 py-5 gap-5 border border-rentcinza w-5/12 rounded-3xl shadow-lg">
        <div class="flex flex-col gap-y-3 text-rentazul">
          <div class="flex gap-3 items-center">
            <b><label class="text-xl">Nome</label></b>
            <div *ngIf="form.submitted && !inquilino.nome" class="text-red-600 text-sm">Campo obrigatório.</div>
          </div>
          <input [(ngModel)]="inquilino.nome" class="form-input border border-rentcinza rounded-xl py-3 px-3 text-base focus:outline-none focus:border-rentazul focus:ring-2 focus:ring-rentazul focus:shadow-lg" type="text" name="Nome" placeholder="Nome do inquilino..."
                 [ngClass]="{
                   'border-red-500 ring-2 ring-red-500 ring-inset': form.submitted && !inquilino.nome
                 }">
        </div>
        <div class="flex flex-col gap-y-3 text-rentazul">
          <div class="flex gap-3 items-center">
            <b><label class="text-xl">Email</label></b>
            <div *ngIf="form.submitted && !inquilino.email" class="text-red-600 text-sm">Campo obrigatório.</div>
          </div>
          <input [(ngModel)]="inquilino.email" class="form-input border border-rentcinza rounded-xl py-3 px-3 text-base focus:outline-none focus:border-rentazul focus:ring-2 focus:ring-rentazul focus:shadow-lg" type="email" name="Email" placeholder="email@exemplo.com"
                 [ngClass]="{
                   'border-red-500 ring-2 ring-red-500 ring-inset': form.submitted && !inquilino.email
                 }">
        </div>
        <div class="flex flex-col gap-y-3 text-rentazul">
          <div class="flex gap-3 items-center">
            <b><label class="text-xl">Telefone</label></b>
          </div>
          <input mask="(00) 0 0000-0000" [(ngModel)]="inquilino.telefone" class="form-input border border-rentcinza rounded-xl py-3 px-3 text-base focus:outline-none focus:border-rentazul focus:ring-2 focus:ring-rentazul focus:shadow-lg" type="tel" name="Telefone" placeholder="(xx) xxxxx-xxxx">
        </div>
        <div class="flex justify-between">
          <button class="flex items-center gap-2 border-2 border-rentlaranja text-lg py-3 px-4 rounded-xl text-rentlaranja font-semibold shadow-md easy-in-out duration-100 hover:scale-105 hover:shadow-lg" (click)="voltar()">
            <img width="25" height="25" src="https://img.icons8.com/fluency-systems-filled/25/ff914d/long-arrow-left.png" alt="long-arrow-left"/>
            <span class="text-xl font-bold">Voltar</span>
          </button>
          <button class="form-button flex items-center gap-3 bg-rentlaranja text-lg py-3 px-8 rounded-xl text-rentbranco font-semibold shadow-md easy-in-out duration-100 hover:scale-105 hover:shadow-lg" type="submit">
            <span class="text-xl font-bold">Salvar</span>
            <img width="25" height="25" src="https://img.icons8.com/ios-glyphs/25/FFFFFF/checkmark--v1.png" alt="checkmark--v1"/>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
