<div class="flex flex-col gap-8 ">

  <!-- Titulo e Logo -->
    <div class="flex items-center justify-between space-x-2 flex-start pt-10 px-32">
      <h1 class="flex items-center gap-5 text-rentazul">
        <b><span class="text-5xl">Aluguel</span></b>
        <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/021e43/forward--v1.png" alt="forward--v1"/>
        <span class="text-4xl">Listagem</span>
      </h1>
      <img src="https://i.imgur.com/brCEmd5.png" alt="Logo Renttavel" class="w-72 h-16">
    </div>

  <!-- Barra de busca e Filtros -->
    <div class="flex items-center justify-center">
      <div class="flex items-center border border-rentcinza w-4/12 pl-8 pr-2 rounded-full gap-x-4 shadow-md">
        <input class="form-control w-7/12 h-10 text-lg focus:outline-none my-2" type="text" placeholder="Nome">
        <div class="w-px h-9 bg-rentcinza"></div>
        <button class="flex items-center justify-center w-3/12 p-2 text-xl text-rentcinza rounded-xl hover:bg-slate-300/20">
          <img width="25" height="25" src="https://img.icons8.com/ios-glyphs/30/cccccc/sorting-options.png" alt="sorting-options"/>
           &nbsp;Filtros
        </button>
        <button class="flex justify-center items-center w-12 h-11 rounded-full bg-rentlaranja text-rentbranco shadow-md hover:ring-2 hover:ring-rentlaranja hover:shadow-lg">
          <img width="25" height="25" src="https://img.icons8.com/sf-black/25/FFFFFF/search.png" alt="search"/>
        </button>
      </div>
    </div>

  <!-- Paginacao -->
    <div class="flex justify-start ml-48 gap-2 items-center">
      <label class="text-rentazul select-none" for="limitePg">Itens por página: </label>
        <select class="text-rentazul rounded border border-rentcinza p-2 hover:outline-none select-none" name="limitePg" [(ngModel)]="seletor.limite">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="4">4</option>
          <option value="8">8</option>
          <option value="12">12</option>
        </select>
      <span class="flex items-center justify-center text-rentazul w-32 select-none">{{(seletor.limite * (seletor.pagina - 1)) + 1}} - {{seletor.limite * seletor.pagina}} de {{ totalRegistros }}</span>
      <div class="flex items-center gap-7">
        <button class="disabled:opacity-30 select-none" id="btnPaginacao" id="navPaginacao" [disabled]="seletor.pagina == 1">
          <img width="25" height="25" src="https://img.icons8.com/ios-filled/25/021e43/back.png" alt="back"/>
        </button>
        <button class="disabled:opacity-30 select-none" id="btnPaginacao" id="navPaginacao" [disabled]="seletor.pagina == totalPaginas">
          <img width="25" height="25" src="https://img.icons8.com/ios-filled/25/021e43/forward--v1.png" alt="forward--v1"/>
        </button>
      </div>
    </div>

<!-- Alugueis -->
    <div *ngFor="let aluguel of alugueis" >
      <div class="flex border justify-center">
        <div class="w-1/3">
          {{ aluguel.qtdDias }}
        </div>
      </div>
    </div>
</div>
