#dropdownMenu{
  margin-right: 32rem;
}

.slider-orange::-webkit-slider-thumb {
  background-color: #f59e0b; /* Orange color */
}

.slider-orange::-moz-range-thumb {
  background-color: #f59e0b; /* Orange color */
}

.slider-orange::-ms-thumb {
  background-color: #f59e0b; /* Orange color */
}
