#dropdownValor{
  left: 29rem;
}

#dropdownCheckin{
  left: 38.5rem;
}

#dropdownCheckout{
  left: 49.5rem;
}

.slider-orange::-webkit-slider-thumb {
  background-color: #f59e0b; /* Orange color */
}

.slider-orange::-moz-range-thumb {
  background-color: #f59e0b; /* Orange color */
}

.slider-orange::-ms-thumb {
  background-color: #f59e0b; /* Orange color */
}
