<div class="flex">
  <div class="w-64">
    <aside id="sidebar-multi-level-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen shadow-custom-direction" aria-label="Sidebar">
      <div class="h-full px-3 py-4 overflow-y-auto bg-rentazul">
        <a href="#" class="flex flex-col items-center p-2 text-rentbranco rounded-lg group mb-6">
          <span class="text-xl flex-1 ms-3 whitespace-nowrap font-bold">{{ anfAutenticado.nome }}</span>
          <span class="text-lg flex-1 ms-3 whitespace-nowrap font-light">{{ anfAutenticado.email }}</span>
        </a>
        <ul class="flex flex-col px-7 space-y-2 font-bold gap-y-6">
          <li>
            <a href="/home/dashboard" class="w-full text-left flex items-center p-2 text-rentbranco rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none">
              <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/60/FFFFFF/combo-chart--v1.png" alt="combo-chart--v1"/>
              <span class="text-xl flex-1 ms-3 whitespace-nowrap">Dashboard</span>
            </a>
          </li>
          <li>
            <button (click)="toggleDropdown('isImoveisDropdownOpen')" class="w-full text-left flex items-center p-2 text-rentbranco rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none">
              <img width="30" height="30" src="https://img.icons8.com/material-rounded/35/FFFFFF/home-page.png" alt="home-page"/>
              <span class="text-xl flex-1 ms-3 whitespace-nowrap">Imóveis</span>
            </button>
            <ul *ngIf="isImoveisDropdownOpen" class="mt-2 space-y-2 pl-8">
              <li>
                <a href="/home/imovel" class="block font-normal px-4 py-2 text-rentbranco rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">Listagem</a>
              </li>
              <li>
                <a href="/home/imovel/detalhe" class="block font-normal px-4 py-2 text-rentbranco rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">Cadastro</a>
              </li>
            </ul>
          </li>
          <li>
            <button (click)="toggleDropdown('isAlugueisDropdownOpen')" class="w-full text-left flex items-center p-2 text-rentbranco rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none">
              <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/sell-property--v1.png" alt="sell-property--v1"/>
              <span class="text-xl flex-1 ms-3 whitespace-nowrap">Aluguéis</span>
            </button>
            <ul *ngIf="isAlugueisDropdownOpen" class="mt-2 space-y-2 pl-8">
              <li>
                <a href="/home/aluguel" class="block font-normal px-4 py-2 text-rentbranco rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">Listagem</a>
              </li>
              <li>
                <a href="/home/aluguel/detalhe" class="block font-normal px-4 py-2 text-rentbranco rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">Cadastro</a>
              </li>
            </ul>
          </li>
          <li>
            <button (click)="toggleDropdown('isEnderecosDropdownOpen')" class="w-full text-left flex items-center p-2 text-rentbranco rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none">
              <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/map-marker.png" alt="map-marker"/>
              <span class="text-xl flex-1 ms-3 whitespace-nowrap">Endereços</span>
            </button>
            <ul *ngIf="isEnderecosDropdownOpen" class="mt-2 space-y-2 pl-8">
              <li>
                <a href="/home/endereco" class="block font-normal px-4 py-2 text-rentbranco rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">Listagem</a>
              </li>
              <li>
                <a href="/home/endereco/detalhe" class="block font-normal px-4 py-2 text-rentbranco rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">Cadastro</a>
              </li>
            </ul>
          </li>
          <li>
            <button (click)="toggleDropdown('isInquilinosDropdownOpen')" class="w-full text-left flex items-center p-2 text-rentbranco rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none">
              <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/group.png" alt="group"/>
              <span class="text-xl flex-1 ms-3 whitespace-nowrap">Inquilinos</span>
            </button>
            <ul *ngIf="isInquilinosDropdownOpen" class="mt-2 space-y-2 pl-8">
              <li>
                <a href="/home/inquilino" class="block font-normal px-4 py-2 text-rentbranco rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">Listagem</a>
              </li>
              <li>
                <a href="/home/inquilino/detalhe" class="block font-normal px-4 py-2 text-rentbranco rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">Cadastro</a>
              </li>
            </ul>
          </li>
          <li class="mt-auto absolute bottom-5"> <!-- Adicione as classes "mt-auto absolute bottom-0 w-full" para posicionamento fixo -->
            <button (click)="logout()" class="w-32 text-left flex items-center p-2 text-rentbranco rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none">
              <img width="35" height="35" src="https://img.icons8.com/ios-filled/35/FFFFFF/fire-exit.png" alt="fire-exit"/>
              <span class="text-2xl flex-1 ms-3 whitespace-nowrap">Sair</span>
            </button>
          </li>
        </ul>
      </div>
    </aside>
  </div>
  <div class="flex-1">
    <router-outlet></router-outlet>
  </div>
</div>
